.navbar {
  width: 1200px;
  display: flex;
  align-self: center;
}

.navlinks {
  display: flex;
  list-style: none;
  width: 1200px;
  align-items: center;

}
.navitem {
  display: inline-block;
  justify-content: space-around;
  padding: 0px 80px 0px 100px;
  font-family: 'Raleway',sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}


 body {
   display: flex;
   align-self: center;
   flex-direction: column;
   justify-content: space-around;
 }

 header {
   height: 300px;
   width: 1300px;
   margin: 0 auto;
   padding-left: 20px;

   background-image: url(./images/blog_header_bg.jpg);
   background-repeat: no-repeat;
   background-size: contain;
   text-align: center;
   line-height: 300px;

   font-family: 'Raleway',sans-serif;
   font-weight: bold;
   color: white;

 }


.wrapper {
  display: flex;
  width: 1200px;
  justify-content: space-around;
  align-content: space-around;
  padding: 20px;
}

.main-content {
  flex: 3;
  padding: 30px;
  margin: 0 auto;
}
.main-content img {

  width: 100%;
  background-size: contain;
}
.aside {
  flex: 1;
  padding: 30px;
  padding-top: 60px;
  margin: 0 auto;
  align-items: flex-end;
}
.aside h2 {
  color: #476d81;
  text-transform: uppercase;
  font-weight: bold;
}

.aside img {
  width: 100%;
  background-size: contain;
}

p {
  font-family: 'Lato',sans-serif;
  color: #476d81;
}
li {
  font-family: 'Lato',sans-serif;
  font-weight: bold;
}
h2 {
  font-family: 'Raleway',sans-serif;
  color: #476d81;
  text-transform: uppercase;
  font-weight: bold;
}
h3 {
  font-family: 'Raleway',sans-serif;
  color: #476d81;
  text-transform: uppercase;
  font-weight: bold;
}
.recent-issues {
  color: #5a889f;
  font-weight: bold;
}
footer {
  align-self: center;
}
.footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 1300px;
  background-color: lightblue;
  align-items: center;
}

.socials {
  align-items: center;
font-size: 40px;
opacity: 0.6;
}
.socials i {
  margin: 20px;
}

.footer-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 1300px;
  background-color: lightblue;
  align-items: center;
}
.email {
  height: 25px;
  width: 275px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  border: 2px solid lightgray;
  text-transform: uppercase;
  text-align: center;
  color: lightgray;
  font-weight: bold;
  margin: 15px;
}
.kit {
  height: 25px;
  width: 150px;
  text-align: center;
  border: 2px solid gray;
  background-color: inherit;
  font-family: 'Raleway',sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 15px;
}

.kit:hover {
  background-color: gray;
  color: white;
}

.footer-bottom {
  height: 50px;
  width: 1300px;
  background-color: lightblue;
  border-top: 2px solid gray;
  text-align: center;
}
